.banner-container{
  background: var(--red);
  align-items: center;
  padding: 6px 0;
}
.retry-button{
  background: var(--base-2);
  color: var(--base);
  padding: 10px 30px;
  margin-right: 14px;
  border-radius: 4px;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 1.5px;
  box-shadow: 0 0px 4px #35333378;
}
.offline-message{
  flex: 1;
  text-align: center;
  font-size: 20px;
}
