.footer-container{
    padding: 2px 15px 10px;
    .input-container {
        flex: 1;
        background: var(--white);
        align-items: center;
        border-radius: 8px;
        border: 1px solid var(--base-2);
        padding-left: 16px;
        .container.row {
            flex: 1;
            font-size: 19px;
            padding: 5px;
            input#add-message {
                flex: 1;
                font-size: 16px;
            }
        }

    } 
    .send-button-wrap {
        margin-left: 20px;  
        .send-button{
            height: 50px;
            width: 50px;
            background: var(--base-2);
            display: inline-flex;
            border-radius: 50%;
            font-size: 20px;
            align-items: center;
            justify-content: center;
            color: var(--base);
        }
    }
}
